//===VARIABLES & MIXINS===

$grey: #ccc;
$darker-grey: #313332;
$darkest-grey: #252726;
$white: #fff;
$paragraph: #a3a3a3;
$menu: #757B78;
$light-blue: #00C7E8;
$layer: #111;
$device-background: #838584;
$tablet-black: #020202;
$font: 'Open Sans', sans-serif;
$font-heading: 'Roboto', sans-serif;
$breakpoint: 768px;
$grid-columns: 12;