@import 'variables';
@import 'mixins';
@import 'grid';

body {
	margin: 0;
	font-family: $font;
}

h2 {
	font-family: $font-heading;
	font-size: 22px;
	font-weight: 900;
	text-transform: uppercase;
}

p {
	font-size: 11px;
	color: $paragraph;
}

header {
	background-color: $darker-grey;
  
	nav {
		background-color: $darker-grey;;
		height: 50px;
	}
  
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		float: right;
		margin-right: 30px;
	}
  
	li {
	display: inline-block;	
	
		&:hover a {
			@include desktop {
				background-color: $menu;
			}
		}
	}
  
  
	a {
		display: block;
		color: $white;
		text-decoration: none;
		font-family: $font;
		height: 50px;
		line-height: 50px;
		padding: 0 15px;
		text-transform: uppercase;
	}
  
	img {
		float: left;
		padding: 10px 5px;	
	}
}

//===HERO===

.hero {
	height: calc(70vh - 50px);
	width: 100%;
	margin: 0 auto;
	position: relative;
	
	.slider {
		width: 100%;
		height: 100%;
		overflow: hidden;
    
		figure {
			position: relative;
			width: 400%;
			margin: 0;
			left: 0;
			text-align: left;
			@include animation(slide, 20s, infinite);
      
			img {
				width: 25%;
				height: auto;
				float: left;
				object-fit: cover;
			}   
    	}
	}
  
	.slogan {
		position: absolute;
		top: 20%;
		right: 0;
		background-color: rgba($tablet-black, .4);
		float: right;
		width: 50%;
		max-width: 600px;
    
		h1 {
			line-height: .9;
			letter-spacing: 1px;
			font-weight: 300;
			font-family: $font;
			color: $white;
			font-size: 32px;
			padding: 20px;
		
			span {
				font-weight: 700;
			}
    	}
	}
}

@include keyframes(slide) {
	0% {
		left: 0;
	}
	
	10% {
		left: 0;
	}
	
	15% {
		left: -100%;
	}
	
	25% {
		left: -100%;	
	}
	
	30% {
		left: -200%;	
	}
	
	40% {
		left: -200%;	
	}
	
	45% {
		left: -300%;	
	}
	60% {
		left: -300%;	
	}
	65% {
		left: -200%;	
	}
	75% {
		left: -200%;	
	}
	80% {
		left: -100%;	
	}
	90% {
		left: -100%;
	}
}


//===BENEFITS===

.benefits {
	.container {
		margin: 50px auto;
		text-align: center;
	}

	i {
		font-size: 55px;
		color: $white;
		background-color: $darker-grey;
		padding: 5px;
		border-radius: 18%;
		transition: .3s ease-in-out;
	}
  
	h3 {
		font-family: $font;
		font-size: 18px;
		font-weight: 700;
		padding: 5px;
		text-transform: uppercase;
		transition: .3s ease-in-out;
	}
  
	.col {
		cursor: pointer;
        
    	&:hover i {
			@include desktop {
				background-color: $light-blue;
			}
    	}
		&:hover h3 {
			@include desktop {
				color: $light-blue;
			}
		}
	}
}

//===FEATURE===

.feature {
	text-align: center;
  
	.container {
		margin: 50px auto;
		text-align: center;
	}

	h2 {
		font-weight: 900;
		letter-spacing: 1.1;
	}
  
	p {
		margin-top: 15px;	
	}
}

//===GALLERY===

.gallery {
	[class*="col"] {
		padding: 0;
		position: relative;
		height: 150px;
		overflow: hidden;
		cursor: pointer;
    
		&:hover .layer {
			@include desktop {
				@include translate(0, 150px);
				opacity: .7;	
			}
		}
	}
  
	img {
		box-sizing: border-box;
		height: 150px;
		width: 100%;
		object-fit: cover;
		margin: 0;
	}
  
	.layer {
		position: absolute;
		width: 100%;
		height: 100%;
		top: -150px;
		left: 0;
		text-align: center;
		background-color: $layer;
		opacity: .1;
		transition: all .5s ease-in-out;
    
    	i {
			position: relative;
			top: 40%;
			background-color: $white;
			padding: 5px;
			border-radius: 20%;
			display: inline-block;
			width: 25px;
			height: 25px;
			margin: 0 10px;
		}
	}
}

//===CREW===

.crew {
	.container {
		margin: 50px auto;
		text-align: center;	
	}
	
	[class*="col"] {
		padding: 0;
		position: relative;
		height: 190px;
		overflow: hidden;
		cursor: pointer;
		box-sizing: border-box;
		text-align: center;
	}
  
	.wrapper {
		box-sizing: border-box;
		text-align: center;
		position: relative;
		width: 150px;
		height: 150px;
		overflow: hidden;
		margin: 0 auto;
	
	
		&:hover .layer {
			@include desktop {
				opacity: .7;	
	  		}
		}
	
    
    	img {
			box-sizing: border-box;
	  		height: 150px;
			width: 150px;
			border-radius: 50%;
			display: block;
			object-fit: cover;
		}
    
		.layer {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			background-color: $layer;
			opacity: 0;
			transition: all .5s ease-in-out;
			margin: 0 auto;
	  
			p {
				font-family: $font-heading;
				line-height: 150px;
				color: $white;
				font-size: 14px;
				font-weight: bold;	
			}
    	}
	}
	.content {
		text-align: center;
		font-size: 14px;
		padding: 5px;
	}
}


//===DEVICE===

.device {
	width: 100%;
	background-color: $device-background;
  
	.container {
		background-color: inherit;
	}
  
	.tablet {
		position: relative;
		width: 100%;
		margin: 20px auto auto auto;
		border: 16px solid $darker-grey;
		border-bottom: none;
		border-top-width: 50px;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
	
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 50px;
			height: 5px;
			background-color: $tablet-black;
			top: -25px;
			left: 50%;
			@include translate(-50%, -50%);
			border-radius: 10px;  	
		}
	
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 12px;
			height: 12px;
			background-color: $white;
			border-radius: 50%;
			border: 5px solid black;
			top: -40px;
			right: 10%;  	
		}
	
		.tablet-content {
			[class*="col"] {
				padding: 0;
				position: relative;
				height: 90px;
				overflow: hidden;
				cursor: pointer;
				box-sizing: border-box;
				text-align: center;	
	    
	    
				&:hover .layer {
					@include desktop {
						@include translate(0, 90px);
						opacity: .7;
					}
				}
	  		}
	  
			img {
				box-sizing: border-box;
				height: 100%;
				width: 100%;
				object-fit: cover;
				margin: 0;
			}
	  
			.layer {
				position: absolute;
				width: 100%;
				height: 100%;
				top: -90px;
			    left: 0;
			    text-align: center;
				background-color: $layer;
				opacity: .1;
				transition: all .5s ease-in-out;
	    
				i {
					position: relative;
					top: 40%;
					background-color: $white;
					padding: 5px;
					display: inline-block;
				}
			}
		}
	}
  
	.device-content {
		h2 {
			font-size: 30px;
			color: $white;
			margin-top: 15%;
			letter-spacing: 2px;
			padding: 20px	
		}
    
		p {
			font-family: $font;
			color: $white;
			letter-spacing: 1.3px;
			padding: 20px;
			font-weight: 300;	
		}
	}
}

//===NUMBERS===

.numbers {
	.container {
		width: 60%;
		margin: 50px auto;
	}	
  
	h2 {
		font-size: 36px;
		text-align: center;
		font-family: $font-heading;
		font-weight: 900;
		padding: 5px;
	}
  
	p {
		color: $light-blue;
		text-align: center;
		font-size: 14px;	
	}
}


//===FOOTER===

footer {
	width: 100%;
	background-color: $darker-grey;
	margin: 0 auto;
  
	[class*="col-"] {
		padding-top: 10px;
		padding-right: 10px;
	}
  
	h2 {
		color: $white;
  	
		&::after {
			content: "";
			display: inline-block;
			position: relative;
			top: -8px;
			width: 25%;
			height: 1px;
			margin-left: 5px;
			background-color: $white;	
		}
	}
  
	h6 {
		color: $white;
	}
  
	i {
		background-color: $light-blue;
		color: $white;
		width: 25px;
		height: 25px;
		margin: 5px;
		text-align: center;
	}
  
	.fa {
		font-size: 14px;
		line-height: 25px;
	}
  
	.copy {
		margin-top: 20px;
		text-align: center;
		background-color: $darkest-grey;
	
		p {
			color: $white;
			font-size: 14px;
			padding-bottom: 10px;
			line-height: 20px;
		}
	}
}


@media (max-width: $breakpoint) {
	header {
		nav {
			text-align: center;
		}
		img {
			float: none;
			display: block;
			margin: 0 auto;
		}
		ul {
			float: none;
			width: 100%;
			position: relative;
		}
		li {
			display: block;
			text-align: center;
			background-color: $menu;
			border-bottom: 1px solid $grey;
		}
	}
	
	.hero {
		margin-top: 255px;
	  
		figure {
			img {
				height: 250px;
			}
		}
		.slogan {
			width: 100%;
			max-width: 767px;
			text-align: center;
		}
	}
	
	.benefits {
		.container {
			margin: 0 auto;	
		}	
	}
	
	.gallery {
		.layer {
			top: 0;
			opacity: .6;
			background-color: transparent;
	   
			i {
				width: 40px;
				height: 40px;
				line-height: 40px;
				font-size: 20px;
				padding: 0;
			}
		}	
	}
	
	.device {
		.tablet {
			.tablet-content {
				.layer {
					top: 0;
					opacity: .6;
					background-color: transparent;	
				}	
			}	
		}
			
		.device-content {
			h2 {
				margin-top: 3%;
				padding: 5px;
			}
	    
			p {
				padding: 5px;
			}
		}	
	}
	
	footer {
		i {
			width: 40px;
			height: 40px;
			font-size: 20px;
		}
	  
		.fa {
			font-size: 25px;
			line-height: 40px;
		}
	}
}